/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
@import "compass/reset";
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
/* line 15, ../../sass/sass/screen.scss */
body {
  background: #242C39;
  color: #fff;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
/* line 23, ../../sass/sass/screen.scss */
body::before {
  content: "";
  background: #2596b4;
  width: 100%;
  height: 4px;
  display: block;
}
/* line 30, ../../sass/sass/screen.scss */
body::after {
  content: "";
  background-image: url("../../squares.png");
  background-attachment: fixed;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

/* line 43, ../../sass/sass/screen.scss */
h1,
h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

/* line 50, ../../sass/sass/screen.scss */
h1 {
  font-size: 4em;
}

/* line 53, ../../sass/sass/screen.scss */
h2 {
  font-size: 1.5em;
}

/* line 56, ../../sass/sass/screen.scss */
main {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* line 61, ../../sass/sass/screen.scss */
header {
  text-align: center;
  margin: 20px 0;
}

/* line 65, ../../sass/sass/screen.scss */
.event-date {
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 69, ../../sass/sass/screen.scss */
.filters {
  border: 1px solid #2596b4;
  padding: 30px;
  width: 400px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

/* line 77, ../../sass/sass/screen.scss */
button {
  background: none;
  border: 1px solid #2596b4;
  padding: 7px 12px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: .9em;
  color: #fff;
  transition: .2s ease-out;
  cursor: pointer;
}
/* line 89, ../../sass/sass/screen.scss */
button:hover, button:focus {
  background: #1c738a;
  border: 1px solid #1c738a;
}
/* line 93, ../../sass/sass/screen.scss */
button:active {
  background: #186175;
  border: 1px solid #186175;
}

/* line 98, ../../sass/sass/screen.scss */
.node {
  cursor: pointer;
}

/* line 101, ../../sass/sass/screen.scss */
.node circle {
  fill: #fff;
  stroke: #186175;
  stroke-width: 1.5px;
}

/* line 106, ../../sass/sass/screen.scss */
.node text {
  font-size: 14px;
  fill: #fff;
}

/* line 110, ../../sass/sass/screen.scss */
.link {
  fill: none;
  stroke: #186175;
  stroke-width: 1.5px;
}
