/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
@import "compass/reset";
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
/* line 16, ../../sass/sass/screen.scss */
body {
  background: #242C39;
  color: #fff;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
/* line 24, ../../sass/sass/screen.scss */
body::before {
  content: "";
  background: #2596b4;
  width: 100%;
  height: 4px;
  display: block;
}
/* line 31, ../../sass/sass/screen.scss */
body::after {
  content: "";
  background-image: url("../../squares.png");
  background-attachment: fixed;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

/* line 44, ../../sass/sass/screen.scss */
a {
  color: #61c4de;
  transition: .2s ease-out;
  text-decoration: none;
}
/* line 48, ../../sass/sass/screen.scss */
a:hover {
  color: #b5e4f0;
}

/* line 52, ../../sass/sass/screen.scss */
h1,
h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
}

/* line 58, ../../sass/sass/screen.scss */
h1 {
  margin: 0;
  line-height: 1;
}

/* line 62, ../../sass/sass/screen.scss */
h2 {
  font-size: 1.5em;
  margin: 20px 0 0;
}

/* line 66, ../../sass/sass/screen.scss */
main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

/* line 71, ../../sass/sass/screen.scss */
header {
  text-align: center;
  margin: 40px 0 20px;
}

/* line 75, ../../sass/sass/screen.scss */
.event-title {
  font-size: 5em;
}

/* line 78, ../../sass/sass/screen.scss */
.event-subtitle {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* line 85, ../../sass/sass/screen.scss */
.event-info {
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 89, ../../sass/sass/screen.scss */
.content {
  border: 1px solid #2596b4;
  padding: 20px 30px;
  width: 960px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
/* line 97, ../../sass/sass/screen.scss */
.content::after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

/* line 103, ../../sass/sass/screen.scss */
.button-wrap {
  float: left;
  width: calc(50% - 20px);
  margin-top: 10px;
}
/* line 107, ../../sass/sass/screen.scss */
.button-wrap:not(last-of-type) {
  margin-right: 20px;
}

/* line 111, ../../sass/sass/screen.scss */
p {
  margin-top: 0;
}

/* line 114, ../../sass/sass/screen.scss */
button {
  background: none;
  border: 1px solid #2596b4;
  padding: 7px 12px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: .9em;
  color: #fff;
  transition: .2s ease-out;
  cursor: pointer;
  margin-bottom: 10px;
}
/* line 127, ../../sass/sass/screen.scss */
button:hover, button:focus {
  background: #1c738a;
  border: 1px solid #1c738a;
}
/* line 131, ../../sass/sass/screen.scss */
button:active {
  background: #186175;
  border: 1px solid #186175;
}

/* line 136, ../../sass/sass/screen.scss */
.active {
  background: #1c738a;
  border: 1px solid #1c738a;
}

/* line 140, ../../sass/sass/screen.scss */
.viz-title {
  text-align: center;
  margin-top: 40px;
}

/* line 144, ../../sass/sass/screen.scss */
.stats {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}
/* line 152, ../../sass/sass/screen.scss */
.stats li {
  display: inline-block;
}
/* line 154, ../../sass/sass/screen.scss */
.stats li:not(last-of-type) {
  margin-right: 60px;
}

/* line 159, ../../sass/sass/screen.scss */
.stat-count {
  font-weight: 700;
}

/* line 162, ../../sass/sass/screen.scss */
svg {
  overflow: visible;
  margin-left: 50px;
  padding-left: 100px;
}

/* line 167, ../../sass/sass/screen.scss */
.node {
  cursor: pointer;
}

/* line 170, ../../sass/sass/screen.scss */
.node circle {
  fill: #fff;
  stroke: #2596b4;
  stroke-width: 1.5px;
}

/* line 175, ../../sass/sass/screen.scss */
.node text {
  font-size: 16px;
  fill: #fff;
}

/* line 179, ../../sass/sass/screen.scss */
.link {
  fill: none;
  stroke: #2596b4;
  stroke-width: 1.5px;
}
